Package: perl
Name: Perl
Depends: firmware (>= 3.0)
Version: 5.26.1
Architecture: iphoneos-arm
Description: Perl.  It's perl.
Maintainer: Samuel Bingner
Author: Samuel Bingner
Section: Development
Tag: purpose::console, role::hacker
Provides: org.coolstar.perl
Replaces: org.coolstar.perl
Conflicts: org.coolstar.perl
